@import '../util/index';

// ==========================================================================
// $MainVisual Img
// ==========================================================================

.mainVisual-img{
    width: auto;
    height: auto;
    object-fit: cover;
}

// ==========================================================================
// $MainVisual HeadLine
// ==========================================================================


.mainVisual-headline{
    top: 55%;
    left: 3%;
    @include respond-below(md) {
        top: 65%;
        left: 1%;
    }
}

.mainVisual-headline__text{
    font-size: 10rem;
    color: $white;
    @include respond-below(md) {
        font-size: 4.5rem;
    }
}


.mainVisual-nav__text{
    font-size: 1.7rem;
    color: $white;
}

// ==========================================================================
// $Section Title
// ==========================================================================

.section-title{
    margin: 5rem 0 3rem 3rem;
    font-size: 6rem;
    padding-left: 2rem;
    border-left: solid 10px #C4C4C4;
    @include respond-below(md) {
        font-size: 3rem;
        margin: 2rem 0 2rem 0;
        padding-left: 1rem;
        border-left: solid 5px #C4C4C4;
    }
}

.section-title__contact{
    margin: 0 0 3rem 0;
    font-size: 3rem;
    padding-left: 1rem;
    border-left: solid 7px #C4C4C4;
    @include respond-below(md) {
        font-size: 3rem;
        margin: 2rem 0 2rem 0;
        padding-left: 1rem;
        border-left: solid 5px #C4C4C4;
    }
}

.section-text{
    padding-top: 3rem;
    @include respond-below(md) {
        padding-top: 1.5rem;
    }
}

// ==========================================================================
// $About Img
// ==========================================================================

.about-image{
    transform:translateX(150px);
    opacity: 0;
    transition:opacity 2s,transform 1.5s;
    padding: 0;
    @include respond-below(md) {
        transform:translateY(50px);
        opacity: 0;
        transition:opacity 1s,transform 1s;
    }
}

.about-img{
    width: 100%;
    height: 25rem;
    @include respond-below(md) {
        width: 100%;
        height: 15rem;
    }
}

// ==========================================================================
// $Services Img
// ==========================================================================

.services-img{
    width: 100%;
    height: 25rem;
    background-size: cover;
    opacity: 80%;
    @include respond-below(md) {
        width: 100%;
        height: 15rem;
    }
}

.services-imgBox{
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    transform:translateX(100px);
    opacity: 0;
    transition:opacity 1s,transform 1s;
    @include respond-below(md) {
        transform:translateY(50px);
        opacity: 0;
        transition:opacity 1s,transform 1s;
    }
}

.services-imgBox__Seo{
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    transform:translateX(-100px);
    opacity: 0;
    transition:opacity 1s,transform 1s;
    @include respond-below(md) {
        transform:translateY(50px);
        opacity: 0;
        transition:opacity 1s,transform 1s;
    }
}

.box-slicer{
    width: 500px;
    height: 120%;
    transform: rotate(-15deg) translateX(0);
    background-color: $black;
    z-index: 2;
    right: -220px;
    top: -100px;
    position: absolute;
    opacity: 80%;
    @include respond-below(md) {
        width: 500px;
        height: 120%;
        transform: rotate(-15deg) translateX(0);
        background-color: $black;
        z-index: 2;
        right: -320px;
        top: -70px;
        position: absolute;
        opacity: 80%;
    }
}

// ==========================================================================
// $Services HeadLine
// ==========================================================================

.services-headline__Pro{
    top: 10%;
    right: 13%;
    z-index: 100;
    @include respond-below(md) {
        right: -50%;
    }
}

.services-headline__Seo{
    top: 10%;
    right: 18%;
    z-index: 100;
    @include respond-below(md) {
        right: -45%;
    }
}

.services-headline__Edu{
    top: 10%;
    right: 6%;
    z-index: 100;
    @include respond-below(md) {
        right: -55%;
    }
}

.services-headline__text{
    font-size: 3.5rem;
    color: $white;
    @include respond-below(md) {
        font-size: 2rem;
    }
}


// ==========================================================================
// $Members Img
// ==========================================================================

.members-img{
    opacity: 0;
    width: 17rem;
    height: 17rem;
    object-fit: cover;
    box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.226);
    transform:translateY(100px);
    opacity: 0;
    transition:opacity 1s,transform 1s;
    @include respond-below(md) {
        width: 10rem;
        height: 10rem;
        box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.226);
        transform:translateY(50px);
        opacity: 0;
        transition:opacity 1s,transform 1s;
    }
}

// ==========================================================================
// $Blogs Img
// ==========================================================================

.blog-box{
    width: 30%;
    @include respond-below(md) {
        width: 70%;
    }
}

.blog-tag{
    color: $black;
    background-color: $white;
    padding: 0.1rem 0.3rem;
    line-height: 0.2rem;
}

//cd : createDate
.blog-cd{
    line-height: 0.2rem;
    color: $white;
}

.card-body{
    background-color: $black;
    color: $white;
}

.blog-title{
    
}

.blog-img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    @include respond-below(md) {
        width: 100%;
        height: 12rem;
    }
}

.contact-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include respond-below(md) {
        width: 120%;
        height: 100%;
    }
}

// ==========================================================================
// $Form
// ==========================================================================

.form-box{
    top: 10%;
    width: 100%;
    height: 100%;
    opacity: 80%;
}

.form-group input{
    width: 80%;
    margin: 1% 0;
    background-color: #C4C4C4;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include respond-below(md) {
        width: 100%;
        margin: 0.5% 0;
    }
}

.form-group textarea {
    resize: none;
    width: 80%;
    height: 13rem;
    background-color: #C4C4C4;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include respond-below(md) {
        width: 100%;
    }
}
