@import '../util/index';

// ==========================================================================
// $MainVisual Img (メイン画像)
// ==========================================================================

.mainVisual-img{
    width: auto;
    height: auto;
    object-fit: cover;
}

// ==========================================================================
// $MainVisual HeadLine (メイン画像のタイトル)
// ==========================================================================


.mainVisual-headline{
    top: 55%;
    left: 3%;
    @include respond-below(md) {
        top: 65%;
        left: 1%;
    }
}

.mainVisual-headline__text{
    font-size: 10rem;
    color: $white;
    @include respond-below(md) {
        font-size: 4.5rem;
    }
}

// ==========================================================================
// $MainVisual Navigation (メイン画像のナビゲーション)
// ==========================================================================

.mainVisual-nav__text{
    font-size: 1.7rem;
    color: $white;
}

// ==========================================================================
// $Section Title (各セクションの見出し)
// ==========================================================================

.section-title{
    margin: 3rem;
    font-size: 6rem;
    padding-left: 2rem;
    border-left: solid 10px #C4C4C4;
    @include respond-below(md) {
        font-size: 3rem;
        margin: 2rem 0 2rem 0;
        padding-left: 1rem;
        border-left: solid 5px #C4C4C4;
    }
}

.section-title__contact{
    margin: 0 0 3rem 0;
    font-size: 3rem;
    padding-left: 1rem;
    border-left: solid 7px #C4C4C4;
    @include respond-below(md) {
        font-size: 3rem;
        margin: 2rem 0 2rem 0;
        padding-left: 1rem;
        border-left: solid 5px #C4C4C4;
    }
}

// ==========================================================================
// $Section Text (各セクション内の紹介文)
// ==========================================================================

.section-text{
    padding-top: 3rem;
    @include respond-below(md) {
        padding-top: 1.5rem;
    }
}

// ==========================================================================
// $About Img (Aboutセクション内の画像)
// ==========================================================================

.about-image{
    transform:translateX(150px);
    opacity: 0;
    transition:opacity 2s,transform 1.5s;
    padding: 0;
    @include respond-below(md) {
        transform:translateY(50px);
        opacity: 0;
        transition:opacity 1s,transform 1s;
    }
}

.about-img{
    width: 100%;
    height: 25rem;
    @include respond-below(md) {
        width: 100%;
        height: 15rem;
    }
}

// ==========================================================================
// $Services Img (Servicesセクションの各画像)
// ==========================================================================

.services-img{
    width: 100%;
    height: 25rem;
    background-size: cover;
    @include respond-below(md) {
        width: 100%;
        height: 15rem;
    }
}

.services-imgBox{
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    transform:translateX(100px);
    opacity: 0;
    transition:opacity 1s,transform 1s;
    @include respond-below(md) {
        transform:translateY(50px);
        opacity: 0;
        transition:opacity 1s,transform 1s;
    }
}

.services-imgBox__Edu{
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    transform:translateX(100px);
    opacity: 0;
    transition:opacity 1s,transform 1s;
    @include respond-below(md) {
        transform:translateY(50px);
        opacity: 0;
        transition:opacity 1s,transform 1s;
    }
}

.services-imgBox__Seo{
    width: 100%;
    padding: 0;
    position: relative;
    overflow: hidden;
    transform:translateX(-100px);
    opacity: 0;
    transition:opacity 1s,transform 1s;
    @include respond-below(md) {
        transform:translateY(50px);
        opacity: 0;
        transition:opacity 1s,transform 1s;
    }
}

// ==========================================================================
// $Services Img (Servicesセクションの各画像の黒画像重ねた部分)
// ==========================================================================

.box-slicer{
    width: 500px;
    height: 150%;
    transform: rotate(-15deg) translateX(0);
    background-color: $black;
    z-index: 2;
    right: -220px;
    top: -100px;
    position: absolute;
    opacity: 80%;
    @include respond-below(md) {
        width: 500px;
        height: 120%;
        transform: rotate(-15deg) translateX(0);
        background-color: $black;
        z-index: 2;
        right: -320px;
        top: -70px;
        position: absolute;
        opacity: 80%;
    }
}

// ==========================================================================
// $Services HeadLine (Servicesセクションの各画像の見出し)
// ==========================================================================

.services-headline__Pro{
    top: 10%;
    right: 13%;
    z-index: 100;
    @include respond-below(md) {
        right: -50%;
    }
}

.services-headline__Seo{
    top: 10%;
    right: 18%;
    z-index: 100;
    @include respond-below(md) {
        right: -45%;
    }
}

.services-headline__Edu{
    top: 10%;
    right: 6%;
    z-index: 100;
    @include respond-below(md) {
        right: -55%;
    }
}

.services-headline__text{
    font-size: 3.5rem;
    color: $white;
    @include respond-below(md) {
        font-size: 2rem;
    }
}

// ==========================================================================
// $Member Background Img (Membersセクションの背景)
// ==========================================================================

.memberBg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.6;
}


// ==========================================================================
// $Members Img (Membersセクションの画像)
// ==========================================================================

.members-box{
    height: 120%;
    @include respond-below(md) {
        height: 100%;
    }
}

.members-img{
    width: 17rem;
    height: 17rem;
    object-fit: cover;
    transform:translateY(100px);
    opacity: 0;
    transition:opacity 1s,transform 1s;
    @include respond-below(md) {
        width: 10rem;
        height: 10rem;
        transform:translateY(50px);
        opacity: 0;
        transition:opacity 1s,transform 1s;
    }
}

// ==========================================================================
// $Blogs Img (blogsセクションの画像)
// ==========================================================================

.blog-box{
    width: 30%;
    @include respond-below(md) {
        width: 70%;
    }
}

.blog-tag{
    color: $black;
    background-color: $white;
    padding: 0.1rem 0.3rem;
    line-height: 0.2rem;
}

//cd : createDate
.blog-cd{
    line-height: 0.2rem;
    color: $white;
}

.card-body{
    background-color: $black;
    color: $white;
}

.blog-img{
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    @include respond-below(md) {
        width: 100%;
        height: 12rem;
    }
}

.contact-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include respond-below(md) {
        width: 120%;
        height: 100%;
    }
}

// ==========================================================================
// $Form (コンタクトフォーム部分)
// ==========================================================================

.form-box{
    top: 10%;
    width: 100%;
    height: 100%;
    opacity: 80%;
}

.form-group input{
    width: 80%;
    margin: 1% 0;
    background-color: #C4C4C4;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include respond-below(md) {
        width: 100%;
        margin: 0.5% 0;
    }
}

.form-group textarea {
    resize: none;
    width: 80%;
    height: 13rem;
    background-color: #C4C4C4;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include respond-below(md) {
        width: 100%;
    }
}

// ==========================================================================
// $Page Top (最上部に戻るボタン)
// ==========================================================================

#page_top{
    width: 90px;
    height: 90px;
    position: fixed;
    right: 3%;
    bottom: 2.5rem;
    opacity: 0.6;
    z-index: 3;
}
#page_top a{
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    text-decoration: none;
}
#page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 2rem;
    color: $black;
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    top: -5rem;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    @include respond-below(lg) {
        font-size: 1.5rem;
    }
}
#page_top a::after{
    content: 'PAGE TOP';
    font-size: 1rem;
    color: $black;
    position: absolute;
    top: 45px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    color: $black;
    @include respond-below(lg) {
        font-size: 0.5rem;
        top: 30px;
    }
}

// ==========================================================================
// $Hamburger Menu (ハンバーガーメニュー)
// ==========================================================================

.hamburger {
    display: none;
    @include respond-below(md) {
    display : block;
    position: fixed;
    z-index : 100;
    right : 13px;
    top   : 12px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    }
}
.hamburger span {
    @include respond-below(md) {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition   : 0.5s ease-in-out;
    transition        : 0.5s ease-in-out;
    }
}
.hamburger span:nth-child(1) {
    top: 10px;
}
.hamburger span:nth-child(2) {
    top: 20px;
}
.hamburger span:nth-child(3) {
    top: 30px;
}

  /* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    background : #fff;
    -webkit-transform: rotate(315deg);
    -moz-transform   : rotate(315deg);
    transform        : rotate(315deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
    top: 16px;
    background : #fff;
    -webkit-transform: rotate(-315deg);
    -moz-transform   : rotate(-315deg);
    transform        : rotate(-315deg);
}

.globalMenuSp {
    display: none;
    @include respond-below(md) {
        display: block;
        position: fixed;
        z-index : 2;
        top  : 0;
        left : 0;
        color: #fff;
        background: rgba(0,0,0,0.7);
        text-align: center;
        width: 100%;
        opacity: 0;
        transition: opacity .6s ease, visibility .6s ease;
    }
} 

.globalMenuSp ul {
    margin: auto;
    padding: 33% 0;
    width: 100%;
    height: 100vh;
}

.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
}
.globalMenuSp ul li:last-child {
    padding-bottom: 0;
}
.globalMenuSp ul li:hover{
    background :#ddd;
}

.globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 1em 0;
    text-decoration :none;
}

.globalMenuSp.active {
    opacity: 100;
}

#global-nav{
    @include respond-below(md) {
        display: none;
    }
}