@import '../util/index';

section{
    padding: 3rem 0;
}

// ==========================================================================
// $Footer
// ==========================================================================

footer{
    background-color: $black;
    z-index: 10;
}