@import '../util/index';

section:nth-of-type(n+2){
    padding-top: 5rem;
    @include respond-below(md) {
        padding-top: 3rem;
    }
}

// ==========================================================================
// $Footer
// ==========================================================================

footer{
    background-color: $black;
    z-index: 10;
}